{% extends "layout.html" %}

{% set active_page = "posts" %}

{% block title %}Posts{% endblock %}

{% block content %}

<p>omg replying is sharing a cup of coffee or talking over a cup of coffee lol. or HOT COCOA</p>

<p>Posts:</p>
<script>
  var i;
  for (i = 0; i < posts.length; i++) { 
    {{posts[i]}}
}
</script>

<p>User:</p>
{{user}}

<p>Collection</p>
{{coll}}

<a href='postPopUp" class="btn btn-success" role="button">Post</a>

         
{% if logged_in %}
  <a href="/postPopUp" class="btn btn-success" role="button">Post</a>
{% else %}
  <a href="/logInPopUp" class="btn btn-success" role="button">Post</a>       
{% endif %}

{% endblock %}
