{% extends "layout.html" %}

{% set active_page = "posts" %}

{% block title %}Posts{% endblock %}

{% block content %}

<p>omg replying is sharing a cup of coffee or talking over a cup of coffee lol. or HOT COCOA</p>

<script>
  var i;
  for (i = 0; i < posts.length; i++) { 
    {{posts(i)}}
}
</script>

reply
with pop up 'log in to reply' or pop up to type reply


post button if logged in


how do you even make a button lol

<a href='postPopUp" class="btn btn-success" role="button">Post</a>

         
{% if logged_in %}
  <a href="/postPopUp" class="btn btn-success" role="button">Post</a>
{% else %}
  <a href="/logInPopUp" class="btn btn-success" role="button">Post</a>       
{% endif %}

{% endblock %}
